body {
    margin: 0;
    padding: 0;

}

/*Start Weather Forecast*/
th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}
/*End Weather Forecast*/

.containerbox {
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
    background-color: white;
    padding: 10px;
    text-align: left;
}

/*Start NavBar*/

.custom-nav {
    background-color: white !important;
    
   
}


.nav.font {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: black;
}
.navLogo {
   width: 163px;
   height: 80px;
}
a.nav-link{
    color:black;
    font-size:20px;
}
/*End NavBar*/




    /* Start Caroulsel*/
.custom-carousel {
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 50px;
    
}
.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

    .carousel-caption h1 {
        font-size: 5.5vw;
    }

    .carousel-caption h3 {
        font-size: 3vw;
    }

    .hero-btn {
    background-color: #0a7557;
    color: #ffffff;
    }

    .hero-btn:hover {
        color: #0a7557;
        background-color: #ffffff;
    }

/* End Caroulsel*/

/* Start Image Grid*/

.row {
    padding-bottom: 10px;
  
}

.column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

    .column img {
        margin-top: 8px;
        vertical-align: middle;
        width: 100%;
    }

@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}

/* End Image Grid*/

/*Start Footer*/
.custom-Footer {
    padding-bottom: 10px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: grey;
   
}

footer.Font {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    
}
/*End Footer*/