body {
    margin: 0;
    padding: 0;

}

/*Start Weather Forecast*/
th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}
/*End Weather Forecast*/

.containerbox {
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
    background-color: white;
    padding: 20px;
    text-align: left;
}

/*Start NavBar*/
nav {
    align-items: center;
}

nav.font{
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;

}
/*End NavBar*/

/*Start Footer*/

/*End Footer*/

/* Start Caroulsel*/
.custom-carousel {
    max-width: 100%;
    margin: 0 auto;
    
}
/* End Caroulsel*/